body {
  padding: 0 40px 40px;
}
nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
  font-size: 14px;
}
